@font-face {
    font-family: 'led_counter';
    src: url('../fonts/led_counter-7.woff2') format('woff2'),
        url('../fonts/led_counter-7.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular.woff2') format('woff2'),
        url('../fonts/opensans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold.woff2') format('woff2'),
        url('../fonts/opensans-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold.woff2') format('woff2'),
        url('../fonts/opensans-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
        url('../fonts/opensans-extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light.woff2') format('woff2'),
        url('../fonts/opensans-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    font-family: 'open_sansregular';
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background: url('../images/hikone_castle.jpg') center center no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.maskInter .sign, .maskInter .sign2 {
    display:none;
}

.mentions {
    background: url('../images/toiture.jpg') center center no-repeat;
    display: flex;
}

.container {
    display: flex;
    min-height: 96vh;
}

.item {
    flex: 1 1 0px
}

footer {
    background: #80c342;
    height: 4vh;
    overflow: auto;
}

footer p {
    font-size: 1.2rem;
    line-height: 4vh;
    margin:0;
    padding:0 0.5rem;
}

footer a {
    color:#232520;
}

footer button {
    background: transparent;
    border:0;
    cursor: pointer;
    padding:0 0.4rem;
}

footer button span {
    text-decoration: underline;
}

footer button:before {
    content: "- ";
}

/* panneau lien */
.sign {
    background: #404040;
    border-bottom: 5px solid #6A7177;
    border-radius: 2px;
    margin: 5%;
    padding: 0;
    width: 70%;
}

.sign header {
    margin: 0 1.5rem;
}

.sign header:before {
    border-right: 4rem solid #80c342;
    content: "2";
    color: #ccc;
    float: left;
    font-family: 'open_sansbold', arial, sans-serif;
    font-size: 8rem;
    margin-right: 2rem;
    padding-right: 2rem;
}

.sign h1 {
    color: #ccc;
    font-family: 'open_sanssemibold', arial, sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0.5rem 0 0 0;
}

.sign h2 {
    color: #ccc;
    font-family: 'open_sansregular', arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.sign nav {
    background: #101A0F;
    clear: left;
    margin: 0 1.5rem 1.5rem 1.5rem;
    overflow: auto;
}

.sign nav ul {
    background: #232520;
    margin: 1.5rem 4rem;
    padding: 0.5rem;
}

.sign nav li {
    font-size: 1.8rem;
    list-style-type: none;
}

.sign nav a {
    color: #FF8B37;
    display: block;
    font-family: 'led_counter', arial, sans-serif;
    letter-spacing: 0.2rem;
    text-decoration: none;
    text-transform: uppercase;
}

.sign nav a:after {
    content: " ->";
}

/* panneau Bg */
.sign2 {
    background: #fff url('../images/line-sign3.svg') center center no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
    display: flex;
    float: right;
    margin: 5%;
    min-height: 15rem;
    padding: 0;
    width: 70%;
}

.sign2 h3 {
    align-content: flex-end;
    color: #000;
    display: flex;
    flex-direction: column;
    font-family: 'open_sanssemibold', arial, sans-serif;
    font-size: 2rem;
    margin: 1rem 0 0 0;
}

.sign2 h3 span {
    line-height: 6.5rem;
}

.sign2 .item {
    text-align: center;
}

.sign2 .js-carrousel-prev {
    text-align: left;
}

.sign2 .js-carrousel-next {
    text-align: right;
}

.sign2 .js-carrousel-prev h3,
.sign2 .js-carrousel-next h3 {
    font-weight: 400;
    margin-top: 6rem;
}

.js-style .js-carrousel-prev h3,
.js-style .js-carrousel-next h3 {
    cursor:pointer;
}

.sign2 .js-carrousel-prev h3 {
    padding-left: 1.5rem;
}

.sign2 .js-carrousel-next h3 {
    padding-right: 1.5rem;
}

.sign2 .js-carrousel-prev h3 span,
.sign2 .js-carrousel-next h3 span {
    line-height: 3rem;
}

.sign2 .js-carrousel-prev h3 span:nth-child(1),
.sign2 .js-carrousel-next h3 span:nth-child(1) {
    color: #fff;
}

/* mentions */
.inner-mentions {
    background: rgba(255, 255, 255, 0.8);
    font-size:1.6rem;
    margin: auto;
    padding: 1.5rem;
}

.inner-mentions a {
    color: #101A0F;
}

/* responsive */
@media screen and (max-width: 1525px) {

    .sign,
    .sign2 {
        width: 80%;
    }
}

@media screen and (max-width: 1340px) {

    .sign,
    .sign2 {
        width: 90%;
    }
}

@media screen and (max-width: 1185px) {
    .sign h1 {
        font-size: 2.5rem;
    }

    .sign h2 {
        font-size: 1.5rem;
    }

    .sign nav li {
        font-size: 1.5rem;
    }

    .sign2 h3 {
        font-size: 1.5rem;
        ;
    }
}

@media screen and (max-width: 940px) {
    .container {
        flex-direction: column;
    }

    .content {
        flex-grow: 3;
    }

    .sign,
    .sign2 {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    .sign {
        width: auto;
    }

    .sign2 {
        width: 90%;
    }
}

@media screen and (max-width: 450px) {
    .sign header::before {
        font-size: 7rem;
    }

    .sign h1 {
        font-size: 1.5rem;
    }

    .sign h2 {
        font-size: 1rem;
    }

    .sign2 h3 {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .sign2 h3 span {
        line-height: 5.5rem;
    }

    .js-carrousel-prev span:nth-child(1),
    .js-carrousel-next span:nth-child(1) {
        padding-bottom: 4%;
    }

    .sign2 .js-carrousel-prev h3,
    .sign2 .js-carrousel-next h3 {
        margin-top: 6.5rem;
    }

    .sign2 .js-carrousel-prev h3 span,
    .sign2 .js-carrousel-next h3 span {
        line-height: 2rem;
    }

    footer {
        height: auto;
        padding: 0.5rem 0;
    }

    footer p {
        line-height: 1.2;
    }
}